* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    vertical-align: top;
    text-align: left;
}

/* Base styles */
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;    
    margin: 16px;
    padding: 0;
    height: 100vh;  /* Full viewport height */
    overflow: hidden; /* Prevent body scrolling */
    background-color: rgb(245,255,245);
}

img, iframe{
    position: relative;
    max-width: 100%;
    margin-bottom: 16px;
}

a{
    color: #00A95C;
}

bold{
    font-weight: 700;
}

h1 {
    font-size: 16px;
    font-weight: bold;
}

h2{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}


p{
    margin-bottom: 16px;
}


.section {
    overflow: hidden; /* Ensure section content doesn't break out */
    overflow-y: auto;  /* Allow vertical scrolling */
    height: 100%;  /* Set height to ensure scrolling */
}

/* Keep the structure divided */
.sections-wrapper {    
    top: 16px; 
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    position: absolute;
    grid-template-columns: 1fr 1fr;  /* Three equal-width columns */
    gap: 16px;
    padding: 0 16px;
}

.left,
.right {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

/* Scroll box (content inside sections that should scroll) */
.scroll-box {
    max-height: 30vh;
    overflow-y: auto;  /* Allow vertical scrolling */
    margin-bottom: 16px;
}

/* Table styles */
table {
    background-color: #f5f5f5;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding-right: 8px;
    padding-bottom: 16px;
}

td{
}

th {
    cursor: pointer;
    font-weight: 500;
}

@media (max-width: 767px) {
    body {
        overflow: auto;
        height: auto;
    }

    .sections-wrapper {
        padding: 0px;
        display: block;
        position: static;
    }

    .section {
        height: auto;
        margin-bottom: 16px;
    }

    .scroll-box {
        max-height: 30vh;
    }
}
