*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    margin: 16px 16px;
    text-rendering: optimizeLegibility;
    background-color: #009736;
}

p {
    margin-bottom: 16px;
    color: black;
    font-size: 16px;
    max-width: 425px;
}

ul{
    list-style-position: outside;
    max-width: 425px;
    margin-left: 32px;
}

h1{
    color: white;
    font-size: 32px;
    margin-bottom: 16px;
}

img {
    margin-bottom: 16px;
    max-width: 100%;
    height: auto;
}

a{
    color: white;
}

a:visited{
    color: white;
}

a:hover{
    color: red;
}

#imageInput{
    margin-bottom: 16px;
}

.bold{
    color: white;
}

button {
    background-color: #EE2A35; 
    color: white; 
    border: none;
    border-radius: 16px;
    cursor: pointer;
    margin-bottom: 16px;
    padding: 2px 8px;
}

button:hover {
    background-color: #C11F28; 
}
