html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: arial;
}

.word {
  margin-bottom: 8px;
  max-width: 80%;
}

iframe {
  width: 90%;
  height: 90%;
  box-shadow: inset 0 0 12px orangered;
  border: 1px solid orangered;
}