*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

button {
    background-color: #c24e44; 
    color: white; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    max-width: 240px;
    margin-bottom: 16px;
    margin-right: 16px;
    padding: 4px 4px;
}

button:hover {
    background-color: #C11F28; 
}

@media only screen and (max-width: 768px) {
    button{
        max-width: 96px;
        margin-right: 8px;
    }
  }

body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    margin: 16px 16px;
    text-rendering: optimizeLegibility;
    background-color: #F8f8ff;
}

p {
    margin-bottom: 16px;
    color: black;
    font-size: 16px;
    max-width: 540px;
}

ul{
    list-style-position: outside;
    max-width: 540px;
    margin-left: 32px;
    margin-bottom: 16px;
    margin-top: -16px;
}

h1{
    color: #008145;
    font-size: 18px;
    margin-bottom: 16px;
}

h2{
    color: #c24e44;
    font-size: 18px;
    margin-bottom: 16px;
}

img {
    margin-bottom: 16px;
    max-width: 50%;
    height: auto;
}

a{
    color: #008145;
}

a:hover{
    color: #c24e44;
}

.bold{
    color: #c24e44;
}