a:link {
  color: green;
  background-color: transparent; 
  text-decoration: underline;
}

a:visited {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

#loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: green;
  z-index: 1;
}

.imgn{
  width: 68.75vw;
}

.imgw{
  width: 68.75vw;
}

.bold{
  font-family: "Roboto Mono";
  font-weight: 700;
}

.link{
  font-family: "Roboto Mono";
  font-style: italic;
  color: green;
  background-color: transparent; 
  text-decoration: underline;
}

body{
  margin: 0;
}

.w{
  grid-column-Start: 6;
  grid-column-End: 28;
}
.n{
  grid-column-Start: 2;
  grid-column-End: 24;
}

.container{
  position: relative;
  float: left;
}

.generated {
  background-color: transparent;
  font-family: "Roboto Mono";
  font-weight: 100;
  word-wrap: break-word;
  text-align: left;
  animation-name: appear;
  animation-duration: 0.05s;
  animation-fill-mode: both;
  background-color: whitesmoke;
}

#basegrid {
  position: absolute;
  display: grid;
  margin: 0;
  top: 0;
  left: 0;
  z-index: -1;
}

.item{
  justify-content: center;
  align-items: center;
}

.title {
  background-color: transparent;
  font-family: "Roboto Mono";
  font-weight: 400;
  word-wrap: break-word;
  top:0px; 
  margin:0px;
  text-align: left;
  hyphens: manual;

  margin-block-start: 0;
}

.subtitle {
  background-color: transparent;
  font-family: "Roboto Mono";
  font-weight: 400;
  word-wrap: break-word;
  top:0px; 
  margin:0px;
  text-align: left;
  margin-block-start: 0;
}
.body {
  background-color: transparent;
  font-family: "Roboto Mono";
  font-weight: 400;
  word-wrap: break-word;
  top:0px; 
  margin:0px;
  text-align: left;

  margin-block-start: 0;
}

.caption {
  font-family: "Roboto Mono";
  font-weight: 400;
  word-wrap: break-word;
  top:0px; 
  margin:0px;
  text-align: left;

  margin-block-start: 0;
}

#scroll{
  margin: 0;
  position: absolute;
  background-color: transparent;
  font-family: "Roboto Mono";
  font-weight: 100;
  word-wrap: break-word;
  text-align: left;
  animation-name: appear;
  animation-duration: 0.05s;
  animation-fill-mode: both;

  background-color: whitesmoke;
}

#intro{
  z-index: 2;
}

.youtubewidesquare{
  width: 68.75vw;
  height: 68.75vw;
}

.youtubenarrowsquare{
  width: 68.75vw;
  height: 68.75vw;
}

.youtubewide{
  width: 68.75vw;
  height: 41.7410714286vw;
}

.youtubenarrow{
  width: 68.75vw;
  height: 41.7410714286vw;
}

@media only screen and (min-width: 600px) {
  .w{
    grid-column-Start: 32;
    grid-column-End: 96;
  }
  .n{
    grid-column-Start: 10;
    grid-column-End: 40;
  }
  .imgw{
    width: 50vw;
  }
  .imgn{
    width: 23.4375vw;
  }

  .youtubewidesquare{
    width: 50vw;
    height: 50vw;
  }

  .youtubenarrowsquare{
    width: 23.4375vw;
    height: 23.4375vw;
  }

  .youtubewide{
    width: 50vw;
    height: 30.3571428571vw;
  }

  .youtubenarrow{
    width: 23.4375vw;
    height: 14.2299107143vw;
  }

}