html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(245,255,245);
  font-family: 'Arial', sans-serif;
  color: #eee;
}

*{
  margin: 0;
  padding: 0;
}

#diagram-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#preview {
  position: absolute;
  pointer-events: none;
  background: rgb(255,235,235);
  color: #2c2c2c;
  border: 0;
  padding: 6px 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  font-size: 0.85rem;
  max-width: 240px;
  display: none;
  z-index: 10;
  backdrop-filter: blur(4px);
}

#legend {
  font-size: 12px;
  background: #f5f5f5;
  color: #2c2c2c;
  border: 0;
  padding: 8px 8px 0 8px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

#legend span {
  vertical-align: middle;
}

#nav-controls {
  position: absolute;
  right: 12px;
  top: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 5;
}

#nav-controls button {
  font-size: 18px;
  padding: 8px 12px;
  cursor: pointer;
  background: #f5f5f5;
  color: #2c2c2c;
  border: 0;
  border-radius: 8px;
  transition: background 0.2s ease;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

#nav-controls button:hover {
  background: #2c2c2c;
}

#current-node-number {
  font-size: 12px;
  background: #f5f5f5;
  color: #2c2c2c;
  border: 0;
  padding: 8px 12px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}
