html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(245,255,245);
  font-family: 'Arial', sans-serif;
  color: #eee;
}

*{
  margin: 0;
  padding: 0;
}

#diagram-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#preview {
  position: absolute;
  pointer-events: none;
  background: rgb(255,235,235);
  color: #2c2c2c;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  max-width: 240px;
  display: none;
  z-index: 10;
}

#preview img.preview-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 8px;
  border-radius: 8px;
}

#preview .clickable-note {
  margin-top: 8px;
  font-size: 0.75rem;
  color: #969696;
}

@media (max-width: 768px) {
  #preview {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: auto;
  }
}

#legend {
  font-size: 12px;
  background: #f5f5f5;
  color: #2c2c2c;
  border: 0;
  padding: 8px 8px 0 8px;
  border-radius: 8px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

#legend span {
  vertical-align: middle;
}

#nav-controls {
  position: absolute;
  right: 12px;
  top: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 5;
}

#nav-controls button {
  font-size: 18px;
  padding: 8px 12px;
  cursor: pointer;
  background: #f5f5f5;
  color: #2c2c2c;
  border: 0;
  border-radius: 8px;
  transition: background 0.2s ease;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

#nav-controls button:hover {
  background: #2c2c2c;
}

#current-node-number {
  font-size: 12px;
  background: #f5f5f5;
  color: #2c2c2c;
  border: 0;
  padding: 8px 12px;
  border-radius: 8px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#site-title {
  position: fixed;
  bottom: 12px;
  left: 12px;
  font-size: 16px;
  color: #2c2c2c;
  font-family: sans-serif;
  background: rgba(0,255,0);
  padding: 8px;
  border-radius: 8px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

#bottom-buttons {
  position: fixed;
  bottom: 12px;
  right: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: sans-serif;
}

#bottom-buttons a {
  font-size: 12px;
  background: #f5f5f5;
  color: #2c2c2c;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: background 0.2s ease;
}

#bottom-buttons a:hover {
  background: #2c2c2c;
}